
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Cannabis</h1>
        <p class="lead text-muted">ผลิตภัณฑ์กัญชาแบบต่างๆ</p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/canna-lean-dragon-fruit-syrup-1-2.webp">
              <div class="card-body">
                <p class="card-text">Lean กัญชา</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/alien-walker.jpg">
              <div class="card-body">
                <p class="card-text">กัญชา Alien Waker</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/alaskan-thunderfuck-1-600x600.webp">
              <div class="card-body">
                <p class="card-text">กัญชา Alaskan Thunderfuck</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/Maui-Waui-min.webp">
              <div class="card-body">
                <p class="card-text">กัญชา Black Diamond</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/https___s3-us-west-2.amazonaws.com_leafly-images_flower-images_super-lemon-haze.jpg">
              <div class="card-body">
                <p class="card-text">กัญชา Black Mamba</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://cdn--01.jetpic.net/bd1jmincwyryy/shrink/chocolate-chip-cookies.webp">
              <div class="card-body">
                <p class="card-text">คุกกี้กัญชา</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">ดูข้อมูล</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">ซื้อ</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </main>